.nav{
    text-align: center;
    background-color: rgb(0,128,255);
    color:white;
    padding: 18px 0 ;
    font-size: 17px;
}
.card-container{
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 600px) {
    .nav{
        text-align: center;
        background-color: rgb(0,128,255);
        color:white;
        padding: 18px 0 ;
        font-size: 17px;
        min-width: 450px; /* Set the minimum width you want */
        width: 100%;
   }
   
  }